@import "../constants/colors";
@import "../constants/mixins";

.bill-payment-address-container {
  display: flex;
  height: 200px;
  min-width: 200px;
  align-items: center;
    
  #BillPaymentAddress {
    margin: auto
  }

  .checkmark {
    margin: auto
  }
}