@import "../constants/colors";
@import "../constants/mixins";

.bills.modal {
  .modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    
    &.custodial-wallet {
      margin: auto;
    }

    .content {
      margin: auto;

      p {
        margin: 1rem auto;
      }
    }
  }
}
