@import "../constants/mixins";
@import "../constants/colors";
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins/breakpoints";


.dashboard {
  
  height: 100%;
  width: 100%;
  padding-top: 4rem;

  section {
    position: relative;
    margin-bottom: 4rem;
  }

  @include media-breakpoint-up(lg){
    .main {
      @include flex(space-between, flex-start);


      aside {
        max-width: 40%;
        padding-right: 2rem;
      }
    }
   
  }
}